/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html {
    height: 100vh;
    overflow: hidden
}

body {
    font-family: 'Montserrat';
    margin: 0;
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 100vh;
}

body::-webkit-scrollbar { 
    display: none;
}

section {
    padding: 4em;
    height: calc(100vh - 8em);
    color: #101010;
    scroll-snap-align: start;
    position: relative;
    overflow: hidden;
}

h2 {
    font-size: 4em;
    line-height: normal;
}

h3 {
    font-size: 2em;
    line-height: normal;
}

p {
    font-size: 1.2em;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.4em 10%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: white;
    -webkit-box-shadow: 0 0 10px #A0A0A0;
            box-shadow: 0 0 10px #A0A0A0;
}

.model-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    visibility: hidden;
}

.model-container div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 2em;
    width: 100vw;
}

.model-container div button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin-left: min(calc(5vw - 40px), 20px);
    margin-right: min(calc(5vw - 40px), 20px);
    margin-bottom: 4em;
    width: auto;
    height: 30vh;
    -o-transition: .2s;
    transition: .2s;
    -webkit-transition: .2s;
}

.model-container div button:hover { 
    -webkit-transform: scale(2.5) translate(0, -5vh); 
        -ms-transform: scale(2.5) translate(0, -5vh); 
            transform: scale(2.5) translate(0, -5vh);
}

.model-image {
    height: 30vh;
    width: auto;
    -webkit-filter: drop-shadow(2px 2px 1px #888);
    filter: drop-shadow(2px 2px 1px #888);
}

.card {
    height: 60vmin;
    width: 80vmin;
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 25px;
    background: #AAAAAA55;
    filter: drop-shadow(2px 2px 1px #AAA);
    -webkit-filter: drop-shadow(2px 2px 1px #AAA);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.card img {
    position: absolute;
    width: 80vmin;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-filter: drop-shadow(2px 2px 1px #888);
    filter: drop-shadow(2px 2px 1px #888);
}

.card button {
    position: absolute;
    bottom: 1em;
    right: 1em;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    width: 100px;
    height: 100px;
    -o-transition: .2s;
    transition: .2s;
    -webkit-transition: .2s;
    z-index: 1;
}

.card button img {
    width: 100px;
    height: 100px;
}

.card button:hover { 
    -webkit-transform: rotate(720deg); 
        -ms-transform: rotate(720deg); 
            transform: rotate(720deg);
}

.card button:active { 
    -webkit-transform: scale(0.9); 
        -ms-transform: scale(0.9); 
            transform: scale(0.9);
}

.card button img {
    -webkit-filter: drop-shadow(2px 2px 5px #222);
    filter: drop-shadow(2px 2px 5px #222);
}

.nav-bar {
    height: 3.4em;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar img {
    height: 3.0em;
    margin-top: -1.2em;
    margin-bottom: -1.2em;
}

.nav-bar ul {
    list-style: none;
    padding: 0;
    white-space: nowrap;
}

.nav-bar ul li {
    display: inline-block;
    padding: 0 2em;
    position: relative;
    color: #101010;
    font-weight: bold;
    white-space: nowrap;
}

.nav-bar ul li a {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #101010;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
}

.nav-bar ul li a:hover {
    color: #606060;
}

.menu-visiable-narrow svg {
    display: block;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.menu-visiable-narrow {
    visibility: hidden;
    display: none;
}

.drop-down {
    z-index: 2;
}

.drop-down ul {
    visibility: hidden;
    opacity: 0;
    display: block;
    -webkit-filter: drop-shadow(2px 2px 5px #222);
    filter: drop-shadow(2px 2px 5px #222);
    position: absolute;
    background: white;
    padding: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.drop-down:hover > ul,
.drop-down ul:hover {
    visibility: visible;
    opacity: 1;
}

.drop-down ul li {
    margin: 1em;
    display: block;
}

@media (max-width: 1000px) {
    .menu-visiable-wide {
        visibility: hidden;
        display: none;
    }
    .menu-visiable-narrow {
        visibility: visible;
        display: block;
    }
}

.footer {
    position: absolute;
    width: 100%;
    margin-left: -4em;
    bottom: 0;
    padding: 0.5em;
}

.dark-bg {
    background: #181818;
}

.footer a {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: lightgray;
}

.footer a:hover {
    color: #A0A0A0;
}

.footer h2 {
    font-size: 1.2em;
    line-height: normal;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.footer h3 {
    font-size: 1em;
    line-height: normal;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.footer p {
    font-size: 0.5em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.dark-bg h3 {
    text-align: center;
    font-weight: bold;
    color: white;
}

.dark-bg p {
    text-align: center;
    font-weight: bold;
    color: white;
}

.bounder {
    display: block;
    position: absolute;
    width: 100vw;
    left: 0;
    top: 53vh;
}

.bounder div {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
}

.bounder div p {
    text-align: center;
    white-space: nowrap;
    background: #5F0000A0;
    color: white;
    padding: 0.4em;
    border-radius: 1em;
    font-weight: bold;
}

@media (max-width: 768px) {
    .bounder div p {
        font-size: 0.8em;
    }
}

.bk-image {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* toggle menu */
.toggle-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
 }

.toggle-button {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    margin-left: 0;
    margin-right: 0.5em;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
}

.toggle-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
 }

.toggle-items a{
    margin-left: 1.0em;
    margin-right: 1.0em;
 }

 /* image flexbox */
.inner-window {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: calc(95vw - 3em);
    height: calc(90vh - 3em);
    top: calc(50vh + 1.5em);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
    background: #AAAAAA55;
    filter: drop-shadow(2px 2px 1px #AAA);
    -webkit-filter: drop-shadow(2px 2px 1px #AAA);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.inner-window h2 {
    font-size: 2em;
    line-height: normal;
    font-family: 'Cabin Sketch';
    color: #101010;
    text-align: center;
    margin: 0.5em;
}

.inner-window h3 {
    font-size: 1.2em;
    line-height: normal;
    font-family: 'Cinzel';
    color: darkred;
    text-align: center;
    margin: 0.5em;
}

.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.grid-col {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 .5em;
}

.grid-col--2, .grid-col--3 {
    display: none;
}

.grid-item {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

@media (min-width: 768px) {
    .grid-col--2 { display: block; }
}

@media (min-width: 1080px) {
    .grid-col--3 { display: block; }
}

.image-preview {
    position: relative;
    margin-bottom: .5em;
}

.image-preview img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.magnify-glass {
    display: block;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #303030A0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.magnify-glass:hover {
    opacity: 1;
}

.magnify-glass img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-filter: invert(1);
            filter: invert(1);
}

#image-viewer {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

#image-viewer .modal-content {
    display: block;
    max-height: 90vh;
    max-width: 90vw;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#image-viewer .viewer-button {
    position: absolute;
    color: #f1f1f1;
    font-size: 4em;
    font-weight: bold;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 2;
}

#image-viewer .viewer-button:hover,
#image-viewer .viewer-button:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#image-viewer #close {
    top: 5vmin;
    right: 5vmin;
}

#image-viewer #left {
    top: 50%;
    left: 5vw;
}

#image-viewer #right {
    top: 50%;
    right: 5vw;
}

.inner-window-right {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
}

.inner-window-right::-webkit-scrollbar-track
{
	background-color: transparent;
}

.inner-window-right::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

.inner-window-right::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #A0A0A050;
}

.inner-window-left {
    width: 175px;
    height: 100%;
    max-width: 175px;
    min-width: 175px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    background: #101010B0;
    padding: 20px;
}

.left-box-menu {
    margin: 5px;
    font-size: 18px;
    font-family: 'Cabin Sketch';
    font-weight: bold;
    color: white;
    display: block;
    position: relative;
    padding-right: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .inner-window-left {
        width: calc(100% - 40px);
        max-width: none;
        min-width: none;
        height: 65px;
        max-height: 65px;
        min-height: 65px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .inner-window {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

/* Hide the browser's default radio button */
.left-box-menu input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    display: block;
    color: transparent;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
  
/* On mouse-over, add a grey background color */
.left-box-menu:hover input ~ .checkmark {
    color: gray;
}
  
/* Show the indicator (dot/circle) when checked */
.left-box-menu input:checked ~ .checkmark {
    color: white;
}

.left-box-block {
    display: none;
}

#block-1 {
    display: block;
}

/* page three */
.inner-window-small {
    width: auto;
    height: auto;
    top: calc(50% - 4em);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
    background: #AAAAAA55;
    filter: drop-shadow(2px 2px 1px #AAA);
    -webkit-filter: drop-shadow(2px 2px 1px #AAA);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.inner-window-lower-glass {
    width: calc(100% - 4em);
    height: 100%;
    background: #FFFFFF50;
    padding: 2em;
    text-align: center;
}

.inner-window-small h2 {
    font-family: 'Cinzel';
    font-size: 3em;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 1em;
    font-weight: bolder;
}

.inner-window-small h3 {
    font-size: 1.2em;
    line-height: normal;
    margin: 0;
}

.inner-window-small p {
    font-size: 0.8em;
    line-height: normal;
    margin: 0;
}

.inner-window-small a {
    color: black;
    text-decoration: none;
}