/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
    margin: 0;
    font-family: 'Montserrat';
}

h1 {
    font-size: 4em;
    font-family: 'Cabin Sketch';
    color: #101010;
    margin-bottom: 0;
    text-align: center;
}

h2 {
    font-size: 0.8em;
    font-family: 'Cinzel';
    color: maroon;
    text-align: center;
}

h3 {
    font-size: 0.8em;
    font-family: 'Cinzel';
    color: #101010;
    text-align: center;
}

.fancy-hr {
    margin: 2em auto;
    border: 0;
    height: 4px;
    background-image: -o-radial-gradient(
        rgba(20, 20, 20, 1), 
        rgba(20, 20, 20, 0.5), 
        rgba(20, 20, 20, 0), 
        rgba(20, 20, 20, 0)
    );
    background-image: radial-gradient(
        rgba(20, 20, 20, 1), 
        rgba(20, 20, 20, 0.5), 
        rgba(20, 20, 20, 0), 
        rgba(20, 20, 20, 0)
    );
}

.preview-image {
    width: 100%;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}

.preview-image:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-filter: drop-shadow(2px 2px 5px #222);
    filter: drop-shadow(2px 2px 5px #222);
}

.container {
    width: 95%;
    margin: 0 auto;
    padding-top: 5em;
    min-height: calc(100vh - 130px);
}

.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.grid-col {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 .1em;
}

.grid-col--2, .grid-col--3 {
    display: none;
}

.grid-item {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

@media (min-width: 768px) {
    .container {
        width: 90%;
    }
    img {
        margin-bottom: .3em;
    }
    .grid-col {
        padding: 0 .3em;
    }
    .grid-col--2 { display: block; }
}

@media (min-width: 1080px) {
    .container {
        width: 80%;
    }
    img {
        margin-bottom: .5em;
    }
    .grid-col {
        padding: 0 .5em;
    }
    .grid-col--3 { display: block; }
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content { 
    -webkit-animation-name: zoom; 
            animation-name: zoom;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0);transform:scale(0)} 
    to {-webkit-transform:scale(1);transform:scale(1)}
}

@keyframes zoom {
    from {-webkit-transform:scale(0);transform:scale(0)} 
    to {-webkit-transform:scale(1);transform:scale(1)}
}

#image-viewer {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

#image-viewer .modal-content {
    display: block;
    max-height: 90vh;
    max-width: 90vw;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#image-viewer .viewer-button {
    position: absolute;
    color: #f1f1f1;
    font-size: 4em;
    font-weight: bold;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 2;
}

#image-viewer .viewer-button:hover,
#image-viewer .viewer-button:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#image-viewer #close {
    top: 5vmin;
    right: 5vmin;
}

#image-viewer #left {
    top: 50%;
    left: 5vw;
}

#image-viewer #right {
    top: 50%;
    right: 5vw;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.4em 10%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: white;
    -webkit-box-shadow: 0 0 10px #A0A0A0;
            box-shadow: 0 0 10px #A0A0A0;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar img {
    height: 3.0em;
    margin-top: -1.2em;
    margin-bottom: -1.2em;
}

.nav-bar ul {
    list-style: none;
    padding: 0;
}

.nav-bar ul li {
    display: inline-block;
    padding: 0 2em;
    position: relative;
    color: gray;
    font-weight: bolder;
    white-space: nowrap;
}

.nav-bar ul li a {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #101010;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
}

.nav-bar ul li a:hover {
    color: #606060;
}

.menu-visiable-narrow svg {
    display: block;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.menu-visiable-narrow {
    visibility: hidden;
    display: none;
}

.drop-down {
    z-index: 2;
}

.drop-down ul {
    visibility: hidden;
    opacity: 0;
    display: block;
    -webkit-filter: drop-shadow(2px 2px 5px #222);
    filter: drop-shadow(2px 2px 5px #222);
    position: absolute;
    background: white;
    padding: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.drop-down:hover > ul,
.drop-down ul:hover {
    visibility: visible;
    opacity: 1;
}

.drop-down ul li {
    margin: 1em;
    display: block;
}

@media (max-width: 1000px) {
    .menu-visiable-wide {
        visibility: hidden;
        display: none;
    }
    .menu-visiable-narrow {
        visibility: visible;
        display: block;
    }
}

.footer {
    width: 100vw;
    max-width: 100%;
    padding: 0.5em;
    background: #181818;
}

.footer h3 {
    color: white;
    font-size: 1em;
    line-height: normal;
    text-align: center;
    font-family: 'Montserrat';
    margin-top: 0;
    margin-bottom: 0;
}

.footer p {
    color: white;
    font-size: 0.5em;
    text-align: center;
    font-family: 'Montserrat';
    margin-top: 0.5em;
    margin-bottom: 0;
}

#page {
    overflow-x: hidden;
    min-height: 100vh;
}